{% extends "layouts.html" %}
{% block content %}

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 offset-lg-3 div-wrapper d-block justify-content-center align-items-center">
        	<div class="panel panel-default">
                <div class="panel-body">
                    <div class="search-table mx-4 ">
                        <h4>Customer Name: {{ customer_fname}} {{customer_lname}}</h4><br>

                        {% for mess in get_flashed_messages()  %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{mess}}
                        </div>
                        {% endfor %}
                        {% if message  %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            {{message}}
                        </div>
                        {% endif %}

                    </div>

                    <form method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.products.label }} {{ form.products(class="form-control input-sm text-center") }}<br>
                        <div class="form-group">
                            {{ form.item_qty(class="form-control input-sm", placeholder="Enter Quantity") }}
                        </div>
                        {{ form.submit(class="btn btn-info btn-block") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if customerr %}

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            </tr>
      </thead>
        <tbody>
        {% for customer in view_bill %}
        <tr>
            <td> {{ customer.item_name }}</td>
            <td>{{ customer.item_price }}</td>
            <td>{{ customer.item_quantity }}</td>
            <td>{{ customer.total_amount }}</td>
        </tr>
        {% else %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
                <span aria-hidden="true">&times;</span>
            </button>
            Nothing to Show here!!!
        </div>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if totalamtn %}

<h4>Total amount = {{totalamtn}}. To save and clear invoice <a href="/billing/{{id}}">Click here</a></h4>

{% else %}
<br>
<h4>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Previous pending amount = {{totalamt}}.  To save and clear invoice previous invoice <a href="/billing/{{id}}">Click here</a></h4>

{% endif %}
{% endblock %}